* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 20px 0 20px;
}

.container {}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.items {
    flex: 0 0 calc(33.33% - 10px);
    height: 647px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.img {
    display: flex;
    height: 428px;
    width: 428px;
    margin-bottom: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 100%;
    margin-bottom: 160px;
}

.list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 19px;
    font-size: 20px;
}

.logo-box {
    width: 33.3%;
    display: flex;
    justify-content: flex-start;
}

.logo {
    height: 78px;
    width: 78px;
}

.category {
    width: 33.3%;
    display: flex;
    justify-content: center;
}

.option {
    width: 33.3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.input {
    background-color: rgb(241, 241, 241);
    border: none;
    outline: none;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    padding-left: 45px;
    font-size: 20px;
}

.input:hover,
.magnifying:hover {
    background-color: lightgray;
}

.combinate {
    display: flex;
    justify-content: row;
    align-items: center;
}

.c-black {
    color: black;
}

.magnifying {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
}

.magnifying:hover {
    background-color: lightgray;
}

.icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon:hover {
    background-color: lightgray;
}

.menu-option {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: white;
}

#New,
#Men,
#Women,
#Kids,
#Accessories,
#Sale {
    display: none;
    position: absolute;
    padding-top: 40px;
    width: 100%;
    height: 65vh;
}

.menu-option:hover {
    border-bottom: 2px solid black;
}

#showNew:hover+#New,
#New:hover {
    display: inline;
    position: absolute;
    right: 0;
    background-color: white;
}

#showMen:hover+#Men,
#Men:hover {
    display: inline;
    position: absolute;
    right: 0;
    background-color: white;
}

#showWomen:hover+#Women,
#Women:hover {
    display: inline;
    position: absolute;
    right: 0;
    background-color: white;
}

#showKids:hover+#Kids,
#Kids:hover {
    display: inline;
    position: absolute;
    right: 0;
    background-color: white;
}

#showAccessories:hover+#Accessories,
#Accessories:hover {
    display: inline;
    position: absolute;
    right: 0;
    background-color: white;
}

#showSale:hover+#Sale,
#Sale:hover {
    display: inline;
    position: absolute;
    right: 0;
    background-color: white;
}

.sortBy {
    border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}

.sorts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    background-color: white;
    height: 110px;
    width: 135px;
    margin-top: 40px;
    gap: 5px;
}

.sort-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    gap: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding-right: 10px;
}

/* .small-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
} */

.cat {
    font-weight: bold;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
}

.under-cat {
    text-decoration: none;
    color: rgb(145, 145, 145);
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
}

.margin-b {
    margin-bottom: 50px;
}

.gap {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.col {
    display: flex;
    flex-direction: column;
}